/*
  CSS RESET RULE
*/

  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Gluten&family=Offside&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:wght@200;300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div #error{
  height: 55vh;
}

body{
  background: url(./images/landing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-logo{
  height: 60px;
}

.nav{
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 50px !important;
  background-position: center;
  top: 0;
  position: sticky !important;
}


#navbarScrollingDropdown{
  color: white;
}

.nav-hover:hover {
  background-color: floralwhite !important;
  color: black !important;
  transition: 0.7s ease-in;
  opacity: 0.8;

}

.btn-hover:hover{
  color: black !important;
  background-color: floralwhite !important;
  opacity: 0.6;
  transition: 0.7s ease-in;
}

.btn-hover{
  border: 2px solid white !important;
  background-color: transparent !important;
  color: white !important;
}

.fonts{
  font-family: 'Gluten', sans-serif;
  font-size: 5rem;
}

.box-container{
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: -3px -3px 9px #aaa9a9a2,
              3px 3px 7px rgba(147, 149, 151, 0.6);
}

.btn-login{
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.btn-register{
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  float: right;
}

.btn-login:hover, .btn-register:hover{
  color: black !important;
  background-color: floralwhite !important;
  opacity: 0.6;
  transition: 0.7s ease-in;
}

.btn-registration{
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  width: 50% !important;
  margin-left: 120px;
}

.btn-registration:hover{
  color: black !important;
  background-color: floralwhite !important;
  opacity: 0.6;
  transition: 0.7s ease-in;
}

.form-check-label{
  color: white !important;
}

.form-check input[type=checkbox]{
  background-color: transparent;
  border: 1px solid white !important;
}

.form-check input[type=checkbox]:hover{
  background-color: darkgray !important;
  opacity: 0.6;
  transition: 0.3s ease-in;
}

.form-control{
  opacity: 0.8;
}

.eye {
  margin-left: 22rem;
  position: absolute;
  top: 51.7%;
}

.envelope{
  position: absolute;
  margin-left: 10px;
  top: 37.9%;
}

#formBasicEmail, #formBasicPassword{
  padding-left: 2rem;
}

.lock{
  position: absolute;
  margin-left: 10px;
  top: 51.5%;
}

.slide{
  height: 60% !important;
  width: 60% !important;
}

footer{
  background-color: transparent !important;
}

.props-container{
  opacity: 0.9;
}

.btn-update, .btn-activate, .btn-delete, .btn-user-orders, .btn-add, .btn-addProducts, .btn-cancel{
  width: 10rem;
  border-radius: 20px !important;
}

.btn-update:hover,.btn-activate:hover,.btn-delete:hover,.btn-user-orders:hover, .btn-add:hover, .btn-addProducts:hover, .btn-cancel:hover{
  background-color: darkgray !important;
  transition: 0.6s ease-in;
} 

.card{
  height: 22rem !important;
  opacity: 0.9;
}

.card-view{
  height: 100% !important;
}

.Carousel{
  margin-bottom: 15rem;
}

.fab:hover{
  background-color: floralwhite !important;
  transition: 0.8s ease-in !important;
  color: black !important;
  opacity: 0.7;
}

.modal-container{
  opacity: 0.9;
}